## Prettytable

### Creating the Prettytable : Prefer to use only one approach to add data to the prettytable 
---
- First we create a Prettytable object by adding `Prettytable( #Column names )`. It takes as input the name of the columns.
- There are 2 methods for adding rows to the Prettytable.
  - `add_row()` : Input is the list of the values to be entered as a row.
  - `add_rows()` : Input is the list of list where each list is the values of a row.
- There is a method for adding the column to the Prettytable.
  - `add_column()`: Input is the field name, list of values, values for vertical and horizontal alignment.

### Creating Prettytable and Adding rows to the Prettytable.

In [10]:
from prettytable import PrettyTable as pt

x= pt(["Name","Genre","Studios","Protagonist"])
x.add_rows(
  [
    ['Naruto','Adventure','Pierrot','Naruto'],
    ['One Piece','Adventure','Toei','Luffy'],
    ['Psycho Pass','Action-Thriller','Production I.G.','Mika']
  ] )
x

+-------------+-----------------+-----------------+-------------+
|     Name    |      Genre      |     Studios     | Protagonist |
+-------------+-----------------+-----------------+-------------+
|    Naruto   |    Adventure    |     Pierrot     |    Naruto   |
|  One Piece  |    Adventure    |       Toei      |    Luffy    |
| Psycho Pass | Action-Thriller | Production I.G. |     Mika    |
+-------------+-----------------+-----------------+-------------+

### Adding Columns to the Prettytable
---
- It takes as input the field name/column name and the horizontal and vertical alignment values.

In [12]:
x = pt([])
x.add_column( 'Name',['Jules Verne','Mark Twain','Sachidananda Vatsyayan'] , align='c' )
x

+------------------------+
|          Name          |
+------------------------+
|      Jules Verne       |
|       Mark Twain       |
| Sachidananda Vatsyayan |
+------------------------+

### Importing data
  - The data can be imported directly with the help of file opening and using the `from_csv` method of the prettytable module.

### Styling the table
---
- We can also use different styles of printing the table. There are 3 styles available for this task.
  - Default: ASCII
  - MS word form
  - simple string form