The above two code lines are necessary.

In [1]:
import pandas as pd

- #### You can also take from any server by the help of requests module.
- #### When column name is not defined then we can use the _name_ arguement and pass a list of column names.
- #### We can also change the name of the index parameter by using _index_col_
- #### _header_ parameter is used to decide which column to use as the index.
- #### _use\_column_ argument is use to select out columns by passing in the names of only the selected columns.
- #### _squeeze_ argument makes the dataframe to series if there is only one column.
- #### _skiprows_ argument takes in list of rows to be skipped, it can also take in function as the value.
- #### _encoding_ argument is used to specify the character encoding, if not it can pass the error `UnicodeDecodeError`.
- #### _error\_bad\_lines_ is used to specify whether to include bad lines.
- #### _dtypes_ parameter can be used to covert some column to a data type, takes in dictionary with (column_name , data_type) s the key.
- #### _parse\_dates_ can be used to give a list of column names to be converted to data format, __Columns can be reduced by combining according to the date format__.
- #### _converters_ can be used to transform values of a particular column using some function. It takes in a dictionary with key as column name and value as the function.
- #### _na\_values_ is used to specify what values are to be considered NaN. It takes in a list of values to be considered as NaN.
- #### _chunksize_ can be used to specify the number of rows to be put if we want to split a very large dataframe into multiple dataframes.

In [2]:
df=pd.read_csv("D:\\College\\Semester 3\\Data_Analytics\\LAB work\\lab-Data\\lab_010923\\ny_data.csv")

Q. How will we check the duplicate rows in the dataset?

We can check this with the duplicated function which gives a series of boolean values. If a particular row is duplicate, then it gives true for that row else it gives false.

In [ ]:
dup_row=df['name'].duplicated()
num_dup=dup_row[dup_row==True].sum()
num_dup

Q. How will be check the null values and change the null values with a particular word, take unknown?

We can do this by using isnull function and taking a sum of it. isnull function returns a boolean series of the same size as the original series and then we can apply the sum function.
After that we can fill the na values with anything we want by using the fillna function and then filtering out the rows with their column specific value equal to that specific word and taking out its length.

In [ ]:
# First we will check for null values and take a count of them.
na_row=df['reviews_per_month'].isnull().sum()
na_row

In [ ]:
# Now, we can fill a cretain word in place of the na value and find out it's length.
df['reviews_per_month'].fillna("Unknown",inplace=True)
num_new=df[df['reviews_per_month']=="Unknown"]
len(num_new)

Q. What are the number of unique values for the property id?

We can use the unique function which returns a ndarray and then we can apply the len function to find out the length of the ndarray.

In [ ]:
un_id=df['host_id'].unique()
len(un_id)

Q. How many properties are owned by david? After that find out how many distinct properties are owned by david.

We can filter the DataFrame for the name David and then find out the length of the dataframe for finding out the number of properties david owns. After that, we can use the unique function on the obtained dataframe from which we will get a ndarray and we can calculate the length of the ndarray.

In [ ]:
# We simply filter out the rows corresponding to the name david and take out the length of the DataFrame obtained from the previous operations.
dav=df[df['host_name']=="David"]
len(dav)

In [ ]:
dav=df[df['host_name']=="David"]
num_dis=dav['name'].unique()
len(num_dis)

Q. Find out the details for which property name and host name are same.

Simply, we can filter the dataframe to find out the rows for which host name is equal to the property name.

In [ ]:
prop=df[df['host_name']==df['name']]
prop

Q. Find out the details where the same host have hosted different property in any neighbourhood in the same neighbourhood groups.

Here, we can use the groupby function to group the DataFrame according to the neighbour_group and host_name. After that we can use the get_group function to get the groups corresponding to the specific users.

In [ ]:
sm=df.groupby(by=['neighbourhood_group','host_name'])
temp=sm.get_group(('Bronx','Aaron'))
temp